<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-img src="../../assets/images/me.jpg"></ion-img>
    <h1>Khoirotun Nisaa</h1>
    <p>Mahasiswa</p>
    <a href="https://instagram.com/shknxcha">Instagram</a>
    <a href="https://tiktok.com/@shknxcha">Tik Tok</a>
  </div>

</ion-content>
