<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Search</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-searchbar placeholder="Search for Friends"></ion-searchbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img src="assets/images/me.jpg"></ion-img>
        </ion-col>
        <ion-col >Nisaa</ion-col>
        <ion-col>
          <ion-button class="small">Add Friends</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-img src="assets/images/h.jpg"></ion-img>
        </ion-col>
        <ion-col >Key</ion-col>
        <ion-col>
          <ion-button class="small">UnFriends</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-img src="assets/images/m.jpg"></ion-img>
        </ion-col>
        <ion-col >Not</ion-col>
        <ion-col>
          <ion-button class="small">Accept</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-img src="assets/images/k.jpg"></ion-img>
        </ion-col>
        <ion-col >wen</ion-col>
        <ion-col>
          <ion-button class="small">UnFriends</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-img src="assets/images/y.jpg"></ion-img>
        </ion-col>
        <ion-col >Yuha</ion-col>
        <ion-col>
          <ion-button class="small">UnFriends</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

